<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>チャット</title>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../index.css">
  <link rel="stylesheet" href="../header.css">
</head>
<body>
  <a href="" class="upper" >チャット作成</a>
  <% if !current_user.nil? %>
  <div class="header">
		<h1><%= current_user.name %>さん、ようこそ！</h1>
		<a href="/sign_out">logout</a>
  </div>
	<% else %>
		<a href="/sign_up">新規登録</a>
	<% end %>
  <section id="main">
  <%if @rooms.count == 0%>
    現在チャットがありません
    <a href="/new" class="">チャット新規作成</a>
  <%end%>
  <%@rooms.each do |room|%>
  <a href="/room/<%= room.id %>" class="">
    <div class="room">
      <h2>
        <%=room.users.select {|user| user.id != current_user.id}[0].name%>
      </h2>
      <p><%= room.contributions.last.content %></p>
    </div>
  </a>
  <%end%>
  </section>
</body>

<script>
let socket
window.addEventListener('load', () => {
  socketCloseListener()
});

const socketMessageListener = (event) => {
  console.log(event);
};

const socketOpenListener = (event) => {
   console.log('Connected');
};

const socketCloseListener = (event) => {
   if (socket) {
      console.log('Disconnected.');
   }
   socket = new WebSocket("<%=@scheme%>" + window.location.host + '/websocket');
   socket.addEventListener('open', socketOpenListener);
   socket.addEventListener('message', socketMessageListener);
   socket.addEventListener('close', socketCloseListener);
};
</script>
</html>
