<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <title>Chat</title>
  <%# <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> %>

  <link rel="stylesheet" href="../message.css">
  <link rel="stylesheet" href="../header.css">
</head>
<body>
<div class="header">
  <h1><%=@companion.name%>とのメッセージ</h1>
  <a href="/" class="">戻る</a>
</div>

<div id="msgs">
  <% @contributions.each do |contribution|%>
    <% if contribution.user_id == current_user.id %>
    <div class="my-msg msg">
      <p><%= contribution.content %></p>
    </div>
    <% else %>
      <div class="companion-msg msg">
        <p><%= contribution.content %></p>
      </div>
    <% end %>
  <% end %>
</div>
<form id="form">
  <input type="text" id="send-msg">
  <input type="submit" class="send-btn">
</form>

</body>


<script>
let socket
window.addEventListener('load', () => {
  let form = document.getElementById('form');
  let sendMsg = document.getElementById('send-msg');

  sendMsg.addEventListener('click', () => sendMsg.value = '');
  form.addEventListener('submit', e => {
    let messageData = {room_id:"<%= @room.id %>"};
    messageData.text = sendMsg.value
    $.ajax({
      url : "/message",
      type: "POST",
      data : messageData,
      success: function(data, textStatus, jqXHR)
      {
        let div = document.createElement('div');
        let p = document.createElement('p');
        let msgbox = document.getElementById('msgs');
        p.innerHTML = data
        div.appendChild(p);
        div.className = "my-msg msg"
        msgbox.appendChild(div, msgbox.firstChild);
        scrollToBottom()
      },
      error: function (jqXHR, textStatus, errorThrown)
      {
        console.error(textStatus)
      }
    });
    sendMsg.value = '';
    e.preventDefault();
  });
  scrollToBottom()
  socketCloseListener()
});

const socketMessageListener = (event) => {
  console.log(event);
  let div = document.createElement('div');
        let msgbox = document.getElementById('msgs');
        let p = document.createElement('p');
        p.innerHTML = event.data["text"];
        div.appendChild(p);
        div.className = "companion-msg msg"
        msgbox.appendChild(div, msgbox.firstChild);
        scrollToBottom()
};

const socketOpenListener = (event) => {
   console.log('Connected');
};

const socketCloseListener = (event) => {
   if (socket) {
      console.log('Disconnected.');
   }
   socket = new WebSocket("<%=@scheme%>" + window.location.host + '/websocket');
   socket.addEventListener('open', socketOpenListener);
   socket.addEventListener('message', socketMessageListener);
   socket.addEventListener('close', socketCloseListener);
};

const scrollToBottom = () =>{
  const elementHtml = document.documentElement;
  const bottom = elementHtml.scrollHeight - elementHtml.clientHeight;
  window.scroll(0, bottom);
}

</script>
</html>